*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    padding-top: 46px;
}
.container{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.header_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.header_link{
    color: #1f1534;
    font-family: "Mulish";
    font-weight: 200;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.5s ease-in-out;
}

.header_link:hover{
    color: #ff0000;
    opacity: 1;
}
.header_link:active{
    color: #0000ff;
}

.hero{
    padding: 91px 0;
}

.textbox{
    width: 440px;
}

.hero_title{
    color: #000000;
    font-family: "Mulish";
    font-weight: 200;
    font-size: 48px;
    line-height: 56px;
}

.hero_text{
    color: #7d7987;
    font-family: "Mulish";
    font-weight: 200;
    font-size: 21px;
    line-height: 32px;
    margin-top: 26px;
    margin-bottom: 35px;
}

.hero_btn{
    max-width: 197px;
    width: 197px;
    border-radius: 55px;
    background-color: #458ff6;
    padding: 14px 0;
    font-size: 18px;
    font-weight: 200;
    line-height: 23px;
    border: none;
    color: #ffffff;
    transition: 0.5s ease-in-out;
}

.hero_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_btn:hover{
    background-color: yellow;
}

.hero_btn:active{
    background-color: #ff0000   ;
}




.hero2_container{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.hero2_wrepper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 952px;
    height: 179px;
    margin: 0 auto;
}

.hero2_title{
    color: #000000;
    font-family: "Mulish";
    font-size: 36px;
    font-weight: 200;
    line-height: 56px;
    padding-bottom: 61px;
}

.hero2_text{
    color: #7d7987;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 36px;
    text-align: center;
}

.hero2_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 36px;
    gap: 20px;
}

.hero2_item{
    
    list-style: none;
    gap: 20px;
    width: 380px;
    height: 380px;
    border-radius: 20px;
    background: #e7e7e7;
}

.hero2_img{
    position: absolute;
    width: 96.91px;
    height: 93.84px;
    margin: 68px 0px 0 39px;
}

.h3{
    color: #000000;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 200;
    line-height: 56px;
    margin: 202px 170px 118px 41px;
}
.title6{
    color: #000000;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 200;
    line-height: 56px;
    margin-bottom: 10px;  
}
.text6{
    display: flex;
    flex-wrap: wrap;
    width: 283px;
    height: 61px;
    margin-left: 42px;
    margin-bottom: 56px;
    color: #7d7987;
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;
}

.Group2{
    width: 284px;
    height: 285px;
    margin: 62px 56px 31px 39px;
}
.Group1{
    width: 276px;
    height: 274px;
    margin: 75px 52px 29px 51px;
}
.Group3{
    width: 281px;
    height: 285px;
    margin: 62px 54px 33px 44px;
}
.Group4{
    width: 275px;
    height: 275px;
    margin: 67px 64px 36px 40px;
}



.h33{
    margin: 202px 170px 20px 41px;
    color: #ffffff;
    font-family: "Mulish";
    font-size: 24px;
    font-weight: 200;
    line-height: 56px;
}
.imgg{
    width: 75px;
    height: 102px;
    margin: 55px 263px 43px 41px;
}

.hero2_text2{
    color: #ffffff;
    font-family: "Mulish";
    font-weight: 200;
    line-height: 28px;
    font-size: 16px;
    margin: 0 58px 28px 41px;
}

.item11:active{
    background-color: #5a98f2;
}

.item11:hover{
    background-color: hsl(216, 85%, 65%);
}



.hero_btn2{
    /* btn */
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1.4px solid #458ff6;
    border-radius: 55px;
    position: absolute;
    width: 200px;
    height: 56.74px;
    left: 639px;
    right: -639px;
    margin-top: 32px;
}
.btn_text{
    color: #458ff6;
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 200;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.section_title{
    color: #000000;
    font-family: "Mulish";
    font-size: 48px;
    font-weight: 200;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 76px;
}
.razmer{
    margin-top: 75px;
}
.section_img{
    /* trafalgar-illustration sec02 1 */
    position: absolute;
    width: 628px;
    height: 469.15px;
}
.section_h3{
    color: #000000;
    font-family: "Mulish";
    margin: 36px 0 62px 745px;
    font-size: 36px;
    font-weight: 200;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: right;
}
.section_text{
    color: #7d7987;
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: right;
}
.section_text_box{
    width: 434px;
    height: 121px;
    margin: 62px 0 40px 745px;
}
.section_btn{
    /* byn */
    box-sizing: border-box;
    border: 1.4px solid #458ff6;
    background-color: #fff;
    border-radius: 55px;
    position: absolute;
    width: 201.92px;
    height: 56.74px;
    margin: 40px 238px 37px 740px;
}

.razmer2_title{
    margin-bottom: 109px;
    color: #000000;
    font-family: "Mulish";
    font-size: 36px;
    font-weight: 200;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
}

.razmer2{
    /* Group 26 */
    
    position: absolute;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    height: 782.74px;
    left: 130px;
    right: 130px;
    top: 2689px;
    bottom: 662.26px;
}
.list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.item{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 380px;
    background-color: #ffffff;
}

.imggg{
    width: 380px;
    height: 240px;
}

.razmer2_h3{
    /* display: flex;
    align-items: end; */
    text-align: left;
    margin: 0 29px 10px 0 ;
    color: #000000;
    font-family: "Mulish";
    font-size: 21px;
    font-weight: 200;
    line-height: 32px;
}
.text{
    color: #7d7987;
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.box{
    width: 266px;
    height: 204px;
    margin: 30px 84px 42px 30px;
}

.readmore{
    color: #4089ed;
    font-family: "Mulish";
    font-size: 17px;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin: 18px 182px 0 0;
    width: 84px;
}
.btn111{
    margin: 0 auto;
    margin-top: 55px;
    box-sizing: border-box;
    border: 1.4px solid #458ff6;
    border-radius: 55px;
    background-color: #ffffff;
    width: 200px;
    height: 57px;
}
.btn111_text{
    color: #458ff6;
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 200;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}



.footer{
    background-color: #67c3f3; 
    position: absolute;
    width: 1600px;
    height: 432px;
    left: -55px;
    right: 55px;
    top: 3702px;
    bottom: -3702px;
    padding-top: 159px;
}
.footer_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trafalgar{
    width: 386px;
    height: 142px;
}
.footer_img{
    margin-bottom: 22px;
}
.footer_text_box{
    width: 386px;
    height: 84px;
}
.footer_text{
    color: #ffffff;
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.footer_p{
    color: #ffffff;
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 200;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
}
.footer_box{
    display: flex;
    justify-content: end;
    margin-left: 150px;
    gap: 170px;
    max-width: 642px;
}

.footer_list{
    display: flex;
    justify-content: space-between;
    display: inline-block;
    list-style: none;
}

